
*{
    font-family: 'Poppins', sans-serif;
    color:maroon; 
   
}

body {
    background-image: url('/images/bckg.jpg');
    background-size: cover;
    
}
sidebar{
position:fixed;
top:0;
left:0;
width:280 px;
height:100%


}


