/* =========== Google Fonts ============ */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap');

/* =============== Globals ============== */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maroon: #800000;
  --white: #fff;
  --gray: #f8f8f8;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--maroon);
  border-left: 10px solid var(--maroon);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--gray);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--gray);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--maroon);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li a .toptitle {
  position: relative;
  display: block;
  padding: 2 20px;
  padding-left: 75px;
  height: 80px;
  line-height: 120px;
  width: 244px;
  flex-shrink: 0;
  color: #FFA800;
  text-align: center;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--gray);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--gray);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-image: url('/images/bckg.jpg');
  background-size: cover;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  background: var(--maroon);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
}

.main .dash {
  position: relative;
  display: flex;
  padding: 30px;
	align-items: center;
	justify-content: space-between;
	grid-gap: 20px;
	flex-wrap: wrap;
}

.dash h1 {
  font-size: 36px;
	font-weight: 600;
	color: var(--maroon);
}


/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--maroon);
}

.cardBox .card .cardName {
  color: var(--maroon);
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--maroon);
}

.cardBox .card:hover {
  background: var(--maroon);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 1800px;
  height: 250px;
 
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin-top: 10px; 
}

.details .recentOrders {
  position: relative;
  display: grid;
  height: fit-content;
  background: var(--white);
  padding: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}



.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--maroon);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--maroon);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--maroon);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: justify;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: justify;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: justify;
}
.status.download {
  padding: 2px 4px;
  background: #DAA520;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.status.delete {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}


/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}


/*button*/

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}




/* Add custom CSS for the editable table */
.account-form {
  width: 70%; /* Set the desired width for the form */
  margin: 0 auto 0 70px; /* Center the form horizontally within the container */
  }

  .form-group {
      margin-bottom: 10px;
  }

  .form-label {
      font-weight: bold;
      
  }

  .form-input {
  width: 100%; /* You can adjust the percentage as needed */
  padding: 8px; /* Increase the padding for a slightly larger appearance */
  font-size: 18px; /* Increase the font size for a larger appearance */
  border: 3px solid #ddd; /* Reduced border size for a cleaner look */
  border-radius: 4px;
  text-align: left; /* Center-align the text inside the text fields */
  }

  .account-table .edit-button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
  }

  .account-table .edit-button:hover {
      background-color: #45a049;
  }

  /* Add this CSS for the two-column layout */
  .form-column {
       /* Set the desired width for each column (50% for a two-column layout) */
      float: left; /* Float the columns to the left */
      box-sizing: border-box; /* Include padding and border in the width calculation */
      padding: 0 10px; /* Add a bit of spacing between the columns */
  }

  /* Adjust the width of the labels and input fields for a consistent layout */
  

  .form-column .form-input {
      width: 80%; /* You can adjust the width as needed */
      margin-left: 50px; /* Add a bit of space between the label and input */
  }

  /* Style for the Save button */
  .edit-button {
      background-color: #4CAF50; /* Green background color */
      color: white;
      border: none;
      width: 20%;
      border-radius: 4px;
      padding: 10px 20px;
      cursor: pointer;
      float: right; /* Align the button to the right */
     
      
      transition: background-color 0.3s, box-shadow 0.3s;
  }

  /* Hover effect for the Save button */
  .edit-button:hover {
      background-color: #45a049; /* Darker green on hover */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a 3D-like shadow */
  }
  
.text-danger{
color: red;

}









.hidden {
  display: none;
}
.open {
  display: block!important;
}
.modal-open {
overflow: hidden;
}
.modal {
display: none;
overflow: hidden;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
-webkit-overflow-scrolling: touch;
outline: 0;
background-color: #00000063;
padding-top: 100px;
}
.modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
.modal-content {
position: relative;
background-color: #ffffff;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
-webkit-background-clip: padding-box;
background-clip: padding-box;
outline: 0;
}
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;

opacity: 50%;
}
.modal-header {
padding: 15px;
border-bottom: 1px solid #e5e5e5;
min-height: 16.42857143px;
}
.modal-header .close {
margin-top: -2px;
}
.modal-title {
margin: 0;
line-height: 1.42857143;
}
.modal-body {
position: relative;
padding: 15px;
}
.modal-footer {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}
.close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: .2;
}
button.close {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
}
.close:hover, .close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: .5;
}
@media (min-width: 768px) {
.modal-dialog {
  width: 600px;
  margin: 30px auto;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-sm {
  width: 300px;
}
}
@media (min-width: 992px) {
.modal-lg {
  width: 900px;
}
}
[role="button"] {
cursor: pointer;
}
.hide {
display: none !important;
}
.show {
display: block !important;
}
.invisible {
visibility: hidden;
}
.text-hide {
font: 0/0 a;
color: transparent;
text-shadow: none;
background-color: transparent;
border: 0;
}
.hidden {
display: none !important;
}
.affix {
position: fixed;
}




h1{
  color:maroon;
  text-align: center;
}